
#about-mobile {

}

/*#about-intro {
    font-family: var(--font-heading);

    grid-column: span var(--columns);
  
  }
*/
.our-story img {
    max-width: 100%;
}

/*#story-text {
    margin-top: auto;
    margin-bottom: auto;
}*/



.description img {
    display: none;
    max-width: 100%;
    padding: 20px;
}




.spaces {

}

.spaces img {
    max-width: 100%;
    padding: 20px;
}

.menu-text {
    padding-left: 10px;
    padding-right: 10px;
}

.menu-text img {
    max-width: 100%;
    padding: 20px;
}

/*
#test-test {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.test-box {
    border: 1px plum solid;
    flex: 0 0 30%;
}

.test-box img {
    max-width: 100%;
}
#dumb-child {
    flex: 2 2 40%;
    border: lightgreen 1px solid;
}*/

@media screen and (min-width: 768px) and (max-width: 1139px) {

    .description img {
        display: block;
      
    }

    #desc-img {
        display: none;
    }

    #about-gallery {
        background-size: cover;
        background-image: url(../img/coffee-pour.jpg);
        background-position: center;
    }

    .description {
        background-color: rgba(34, 46, 75, 0.697);
        padding: 10px;
    }
    /*
    #test-test {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
    }*/


}

@media screen and (min-width: 1140px) {


   .description img {
    display: block;
   }
   #desc-img {
    display: block;
}
}