#about-header {
  background-image: url("../img/about-header.jpeg");
}

.our-story img {
  max-width: 100%;
  margin-top: 20px;
}

#story-margin {
    margin-left: 20px;
}

.description img {
  display: none;
  max-width: 100%;
  padding: 20px;
}

.description ul {
  padding-left: 12px;
}

.menu-text {
  padding-left: 10px;
  padding-right: 10px;
}

.menu-text img {
  max-width: 100%;
  padding: 20px;
}

#about-space {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.space-box {
  max-width: 49%;
  order: 0;
}

.space-box img {
  max-width: 100%;
}

#text-space {
  max-width: 100%;
  order: -1;
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
  #about-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
  }

  .space-box {
    max-width: 20%;
    order: 0;
    margin-top: 10%;
  }

  .space-box img {
    max-width: 100%;
  }
  #text-space {
    max-width: 55%;
    order: 1;
  }
  
  .description img {
    display: block;
  }

  #desc-img {
    display: none;
  }

  #story-margin {
    display: none;
    margin-right: 5%;
    margin-top: 10%;
    order: -1;
  }

  #about-gallery {
    background-size: cover;
    background-image: url(../img/coffee-pour.jpg);
    background-position: center;
  }

  .description {
    background-color: rgba(26, 34, 54, 0.697);
    padding: 10px 30px;
    border-radius: 1%;
  }
}

@media screen and (min-width: 1140px) {
  .description img {
    display: block;
  }

  #desc-img {
    display: block;
  }

  #story-margin {
    order: 0;
  }
  #about-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .space-box {
    max-width: 30%;
    order: 0;
  }

  .space-box img {
    max-width: 100%;
  }
  #text-space {
    max-width: 30%;
    order: 1;
  }

  #space-order {
    order: 2;
  }
}
