html {
    scroll-behavior:smooth;
}
body {position: relative;}

#map img {
    text-align: center;
}

#map img {
    width: 100%;
    max-width: 600px;
}


#contact-header {
    background-image: url("../img/contact-header.jpg");
    background-size: cover;
    background-position: center 20%;
    padding: var(--page-header-padding);
  }
  #contact-information-table {
    width: 100%;
  }
#contact-information-table th{
    text-align: left;
    border-bottom: 2px dotted #ccc;
}
#contact-information-table th:first-child {
    width:20px;
}

.message-box-grid {
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.message-box-grid-1{
    grid-column:auto/ span 1;
}
.message-box-grid-2{
    grid-column:auto/ span 2;
}
.message-box-grid-3{
    grid-column:auto/ span 3;
}
.message-box-grid-4{
    grid-column:auto/ span 4;
}
.message-box-grid-5{
    grid-column:auto/ span 5;
}
.message-box-grid-6{
    grid-column:auto/ span 6;
}

@media screen and (min-width: 576px) {
    .message-box-grid-sm-1{
        grid-column:auto/ span 1;
    }
    .message-box-grid-sm-2{
        grid-column:auto/ span 2;
    }
    .message-box-grid-sm-3{
        grid-column:auto/ span 3;
    }
    .message-box-grid-sm-4{
        grid-column:auto/ span 4;
    }
    .message-box-grid-sm-5{
        grid-column:auto/ span 5;
    }
    .message-box-grid-sm-6{
        grid-column:auto/ span 6;
    }
}

@media screen and (min-width: 768px) {
    .message-box-grid-md-1{
        grid-column:auto/ span 1;
    }
    .message-box-grid-md-2{
        grid-column:auto/ span 2;
    }
    .message-box-grid-md-3{
        grid-column:auto/ span 3;
    }
    .message-box-grid-md-4{
        grid-column:auto/ span 4;
    }
    .message-box-grid-md-5{
        grid-column:auto/ span 5;
    }
    .message-box-grid-md-6{
        grid-column:auto/ span 6;
    }
}
.contact-card {
    background-color: color-mix(in srgb, var(--dark-gray) 95%, white); 
    border-radius: 5px;
  /*  border:1px solid white; */
}
  .totop-container {
    position: absolute;
    top: 0;
    right:0;
    height: 100%;
  }
  
  .totop-container:before {
    content: '';
    display: block;
    height: 100vh;
    pointer-events: none;
  }
  
  .totop-container a {
    margin:10px;
    opacity: 0.8;
    position: sticky;
    top: 88vh;

  }

  #workers {
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
   
  }

  #workers .worker {
    background:color-mix(in srgb, var(--dark-gray) 50%, var(--almost-black));
    flex-basis: 45%;
border-radius: 5px;
  }
  @media screen and (min-width: 768px) {
    #workers .worker {
    flex-basis: 20%;
    }
  }
  #workers .worker .worker-image-holder{
    border-radius:50%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
  }
  #workers .worker .worker-image-holder img{
    width: 100%;

  }