#event-header {
    
    background-size: cover;
    background-position: center 62%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/eventImg/HeroWEB.jpg);
  }

