

#gridContainer{
    display: grid;
    grid-template-columns: var(--columns)
    

}


main,
section,
aside{
    border: solid orange;
   
}





.heroContainer,
.sectionContainer,
.sidebarContainer{
    border: solid orange;
}

.sectionContainer
{
    display: flex;
    flex-direction: row;
    

    
   
}
.sectionContainer1,
.sectionContainer2,
.sectionContainer3,
.sectionContainer4,
.sectionContainer5,
.sectionContainer6{
    
    min-width: 200px;
}

.sidebarContainer{
    display: flex;
    flex-direction: column;
}