









  #membership-header {
    /* background-image: url("../img/account-header.jpg"); */
    background-image: url("../img/membership-header.jpg");
    background-size: cover;
    max-height: 300px;
    }




main{
display: grid;
grid-template-columns: var(--columns);
/* grid-gap: var(--gutter); */

}


.flexbox {
    display: flex;
    /* flex-direction: column; */
    justify-content:space-around;
    border: 1px solid red;
    /* padding: 1em; */
    /* margin: 1em; */
}

.subitems {
    border: 1px solid pink;
    /* padding: 1em; */
    /* margin: 1em; */
}















