
/* ****************** Header  START ***************** */
#membership-header {
    background-image: url("../img/membership-header.jpg");
    background-size: cover;
    min-height: 350px;
    background-position: center;
 }


 .textcontainer {
  padding: 2em;
  margin-top: 7em;
   }

.h1member,
.pmember {
    text-align: left;
    padding: 5px;
   }

.pmember {
    display: none;
   }

/* **************** Header  END ******************** */


/* ***************** 3x FLEXBOXES START ********************* */


.header-levels {
    text-align: center;
    margin-top: 1rem;
    padding: 5px;
}

.flexboxmember {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin: 4rem;
    margin-top: 8rem;
    
}

.subitemsmember {
    min-width: 350px;
    margin: 1em;
    background: rgb(19, 24, 24);
    border: 1px solid white;
    border-radius: 20px;
}

.listmember {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: circle;
    justify-content: space-around;
    flex-direction: column;
    padding: 50px;
}

.button-tablet
{
   display: none;
}

li {
    padding: 6px;

}

.price-membership {
    font-size: 2rem;
    text-align: center;
}



.button-member {
margin-top: 2rem;
align-self: center;



}

/* ***************** 3x FLEXBOXES END ********************* */





/* ***************** GRIDBOX START ********************* */


.h2-benefits {
  margin-top: 2em;
  padding: 5px;
}


.gridboxes-member {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  margin-top: 15rem;
  margin-bottom: 15rem;
  }


.boxes-member {
  min-height: 400px;
  grid-column: auto / span 3;
  }

 
  
#box-1 {
background-image: url("../img/gridbild1.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

#box-2-text,
#box-4-text,
#box-6-text {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 4rem;
}

#box-3 {
  background-image: url("../img/gridbild2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



#box-5 {
  background-image: url("../img/gridbild3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}







/* ***************** GRIDBOX END ********************* */




/* ***************** MEDIAQUERIES START ********************* */


@media screen and (min-width: 768px) {

  
    .headerh1 {
      font-size: 4em;
    }

    .pmember {
      display:block
     }
  
    .textcontainer {
      padding: 7em;
      
       }

    .headerh2,
    .headerh3 {
      font-size: 1.5em;
    }

    .subitemsmember {
      max-height: 400px;
      margin: 1em;
      background: rgb(19, 24, 24);
      border: 1px solid white;
      border-radius: 20px;
  }

  .button-tablet
  {
     align-self: center;
  }

  .li-subs {
    display: none;
  }


    .boxes-member {
      grid-column: auto / span 1;
    }
  
    
  #box-1 {
    order: 2;
    display: none;
  }
  
  #box-2-text {
    order: 3;
  }
  
  #box-3 {
    order: 4;
    display: none;
  }
  
  #box-4-text {
    order: 1;
  }
  
  #box-5 {
    order: 6;
    display: none;
  }
  
  #box-6-text {
    order: 5;
  }
}

  
 
 
  

  
  @media screen and (min-width: 1140px) {
  
    .subitemsmember {
      max-height: 600px;
      margin: 1em;
      background: rgb(19, 24, 24);
      border: 1px solid white;
      border-radius: 20px;
  }

    .li-subs {
      display: list-item;
    }

    .button-tablet
    {
     display: none;
    }
    
    #box-1 {
      order: 2;
      display: block;
    }
    
    #box-2-text {
      order: 3;
    }
    
    #box-3 {
      order: 4;
      display: block;
    }
    
    #box-4-text {
      order: 1;
    }
    
    #box-5 {
      order: 6;
      display: block;
    }
    #box-6-text {
      order: 5;
    }
  }



  /* ***************** MEDIAQUERIES END ********************* */