@import url("variables.css");


.transition-all {
  transition: all .2s ease;
}

/* Colors */
.color-blue {
  color: var(--blue);
}

.color-purple {
  color: var(--purple);
}

.color-green {
  color: var(--green);
}

.color-red {
  color: var(--red);
}

.color-yellow {
  color: var(--yellow);
}

.color-gray {
  color: var(--gray);
}

.color-orange {
  color: var(--orange);
}

/* Text */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.justify-end {
  justify-self: end;
}

.justify-start {
  justify-self: start;
}

/* Table */
.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.th {
  display: table-row;
  font-weight: 700;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
}

.border-bottom {
  border-bottom: 1px solid var(--gray);
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 var(--gutter);
}

.container-fluid {
  width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 var(--gutter);
}

.test-col {
  background: #333;
}

.col-half {
  grid-column: span calc(var(--columns) / 2);
}

.col-third {
  grid-column: span calc(var(--columns) / 3);
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}


.col-start-1 {
  grid-column-start: 1;
}

.col-start-2 {
  grid-column-start: 2;
}

.col-start-3 {
  grid-column-start: 3;
}

.col-start-4 {
  grid-column-start: 4;
}

.col-start-5 {
  grid-column-start: 5;
}

.col-start-6 {
  grid-column-start: 6;
}

.col-start-7 {
  grid-column-start: 7;
}

.col-start-8 {
  grid-column-start: 8;
}

.col-start-9 {
  grid-column-start: 9;
}

.col-start-10 {
  grid-column-start: 10;
}

.col-start-11 {
  grid-column-start: 11;
}

.col-start-12 {
  grid-column-start: 12;
}

@media screen and (min-width: 768px) {

  .justify-md-end {
    justify-self: end;
  }

  .justify-md-start {
    justify-self: start;
  }

  /* Text */

  .text-md-center {
    text-align: center;
  }

  .text-md-left {
    text-align: left;
  }

  .text-md-right {
    text-align: right;
  }

  /* Grid */

  .col-md-half {
    grid-column: auto / span calc(var(--columns) / 2);
  }

  .col-md-third {
    grid-column: auto / span calc(var(--columns) / 3);
  }

  .col-md-1 {
    grid-column: auto / span 1;
  }

  .col-md-2 {
    grid-column: auto / span 2;
  }

  .col-md-3 {
    grid-column: auto / span 3;
  }

  .col-md-4 {
    grid-column: auto / span 4;
  }

  .col-md-5 {
    grid-column: auto / span 5;
  }

  .col-md-6 {
    grid-column: auto / span 6;
  }

  .col-md-7 {
    grid-column: auto / span 7;
  }

  .col-md-8 {
    grid-column: auto / span 8;
  }

  .col-md-9 {
    grid-column: auto / span 9;
  }

  .col-md-10 {
    grid-column: auto / span 10;
  }

  .col-md-11 {
    grid-column: auto / span 11;
  }

  .col-md-12 {
    grid-column: auto / span 12;
  }

  .col-md-start-1 {
    grid-column-start: 1;
  }

  .col-md-start-2 {
    grid-column-start: 2;
  }

  .col-md-start-3 {
    grid-column-start: 3;
  }

  .col-md-start-4 {
    grid-column-start: 4;
  }

  .col-md-start-5 {
    grid-column-start: 5;
  }

  .col-md-start-6 {
    grid-column-start: 6;
  }

  .col-md-start-7 {
    grid-column-start: 7;
  }

  .col-md-start-8 {
    grid-column-start: 8;
  }

  .col-md-start-9 {
    grid-column-start: 9;
  }

  .col-md-start-10 {
    grid-column-start: 10;
  }

  .col-md-start-11 {
    grid-column-start: 11;
  }

  .col-md-start-12 {
    grid-column-start: 12;
  }
}

@media screen and (min-width: 1140px) {
  .justify-lg-end {
    justify-self: end;
  }

  .justify-lg-start {
    justify-self: start;
  }

  /* Text */

  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }

  /* Grid */

  .col-lg-half {
    grid-column: span calc(var(--columns) / 2);
  }

  .col-lg-third {
    grid-column: span calc(var(--columns) / 3);
  }

  .col-lg-1 {
    grid-column: auto / span 1;
  }

  .col-lg-2 {
    grid-column: auto / span 2;
  }

  .col-lg-3 {
    grid-column: auto / span 3;
  }

  .col-lg-4 {
    grid-column: auto / span 4;
  }

  .col-lg-5 {
    grid-column: auto / span 5;
  }

  .col-lg-6 {
    grid-column: auto / span 6;
  }

  .col-lg-7 {
    grid-column: auto / span 7;
  }

  .col-lg-8 {
    grid-column: auto / span 8;
  }

  .col-lg-9 {
    grid-column: auto / span 9;
  }

  .col-lg-10 {
    grid-column: auto / span 10;
  }

  .col-lg-11 {
    grid-column: auto / span 11;
  }

  .col-lg-12 {
    grid-column: auto / span 12;
  }

  .col-lg-start-1 {
    grid-column-start: 1;
  }

  .col-lg-start-2 {
    grid-column-start: 2;
  }

  .col-lg-start-3 {
    grid-column-start: 3;
  }

  .col-lg-start-4 {
    grid-column-start: 4;
  }

  .col-lg-start-5 {
    grid-column-start: 5;
  }

  .col-lg-start-6 {
    grid-column-start: 6;
  }

  .col-lg-start-7 {
    grid-column-start: 7;
  }

  .col-lg-start-8 {
    grid-column-start: 8;
  }

  .col-lg-start-9 {
    grid-column-start: 9;
  }

  .col-lg-start-10 {
    grid-column-start: 10;
  }

  .col-lg-start-11 {
    grid-column-start: 11;
  }

  .col-lg-start-12 {
    grid-column-start: 12;
  }
}