:root {
  /* Grid system */
  --columns: 12;
  --gutter: 1em;
  --spacer: 1em;

  /* Breakpoints */
  --small: 768px;
  --medium: 960px;
  --large: 1140px;

  /* Transition */
  --transition-all: all .2s ease;

  /* Paddings and margins */
  --padding-xs: .5rem;
  --padding-sm: 1rem;
  --padding-md: 2rem;
  --padding-lg: 3rem;
  --padding-xl: 4rem;
  --padding-landing-section: 3rem 0;
  --main-header-padding: 60vh 0 0;
  --page-header-padding: 20vh 0 0;

  /* Navbar */
  --navbar-min-height: 60px;

  /* Colors */
  --white: #fff;
  --black: #000;
  --gray: #807a72;
  --dark-gray: #181b1f;
  --almost-black: #0d1116;
  --almost-white: #fefefe;
  --blue: #5aacbf;
  --purple: #c09ac8;
  --green: #b8d268;
  --red: #f7677c;
  --yellow: #fcd775;
  --orange: #f99c64;

  /* Theme colors */
  --primary-color: #fff;
  --secondary-color: #fff;
  --bg-color: var(--dark-gray);
  --text-color: #fff;
  --navbar-color: #fff;
  --navbar-gradient: linear-gradient(180deg, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, 0) 100%);
  --footer-color: var(--almost-black);


  /* Fonts */
  --font-paragraph: 'Inter', sans-serif;
  --font-heading: 'Kanit', sans-serif;
  --font-size-sm: 1em;
  --font-size-md: 1.5em;
  --font-size-lg: 2em;
  --font-size-xl: 3em;

  --font-size-h1: 2.25rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;

  /* Buttons */
  --button-radius: 6px;
}

@media screen and (min-width: 768px) {
  :root {
    --padding-landing-section: 4rem 0;

    /* Font */
    --font-size-h1: 2.5rem;
    --font-size-h2: 2.25rem;
  }
}

@media screen and (min-width: 1140px) {
  :root {
    --padding-landing-section: 6rem 0;

    /* Font */
    --font-size-h1: 3rem;
    --font-size-h2: 2.5rem;
  }
}